repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v6.0.0'
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [ '-f=lf' ]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: 'v1.5.5'
    hooks:
      - id: insert-license
        files: \.py$
        exclude: idf_ci/_vendor\.py$
        args:
          - --license-filepath
          - license_header.txt        # defaults to: LICENSE.txt
          - --use-current-year
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.11'
    hooks:
      - id: ruff-check
        args: ['--fix']
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.19.1'
    hooks:
      - id: mypy
        args: ['--warn-unused-ignores']
        additional_dependencies:
          - beautifulsoup4
          - click
          - idf-build-apps~=2.12
          - jinja2
          - minio!=7.2.16
          - pydantic-settings
          - pytest
          - pytest-embedded>=1.16,<3
          - python-gitlab
          - rich
          - tomlkit
          - types-PyYAML
          - types-requests
  - repo: https://github.com/LilSpazJoekp/docstrfmt
    rev: v2.0.1
    hooks:
      - id: docstrfmt
        types: [rst]
        args: ['-l', '99999999999999999999999']
  - repo: https://github.com/LilSpazJoekp/docstrfmt
    rev: v2.0.1
    hooks:
      - id: docstrfmt
        types: [python]
        args: ['--no-docstring-trailing-line']
