# this docker compose file is for testing purpose

services:
  minio:
    restart: unless-stopped
    image: bitnamilegacy/minio:latest
    ports:
      - 9100:9000
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_DEFAULT_BUCKETS: private,public:public
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 1s
      timeout: 1s
      retries: 3
