name: Test Linux (py3.14)

on:
  push:
  pull_request:
    paths:
      - "**.py"

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      minio:
        image: bitnamilegacy/minio:latest
        ports:
          - 9100:9000
          - 9101:9001
        env:
          MINIO_ROOT_USER: minioadmin
          MINIO_ROOT_PASSWORD: minioadmin
          MINIO_DEFAULT_BUCKETS: private,public:public
        options: >-
          --health-cmd "curl -f http://localhost:9000/minio/health/live || exit 1"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 3

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e '.[test]'
      - name: Fake IDF and Run Test
        run: |
          export IDF_PATH=/tmp/esp-idf
          mkdir -p $IDF_PATH/tools/idf_py_actions
          pushd /tmp/esp-idf/tools/idf_py_actions/
          echo "SUPPORTED_TARGETS = ['esp32', 'esp32s2', 'esp32c3', 'esp32s3', 'esp32c2', 'esp32c6', 'esp32h2', 'esp32p4']" >> constants.py
          echo "PREVIEW_TARGETS = ['linux', 'esp32c5', 'esp32c61', 'esp32h21']" >> constants.py
          popd
          pytest --junitxml pytest.xml tests/ | tee pytest-coverage.txt
      - name: Upload test results
        uses: actions/upload-artifact@v6
        if: always() # always run even if the previous step fails
        with:
          name: test-results
          path: |
            pytest-coverage.txt
            pytest.xml
          retention-days: 1
